.left-side{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.right-side{
  .signup-content{
    text-align: center;
    padding-top: 40px;
    height: 100vh;
    p{
      color: slategray;
    }
    form{
      margin-top: 30px;
      .form-group{
        margin-top: 30px;
        margin-bottom: 30px;
        ::placeholder {
          color:white;
          opacity:20%;
          font-style: italic;
        }
      }
      .form-control{
        background-color: black;
        color: white;
        //box-shadow: 0 4px 8px 0 lightblue;

      }
      button{
        background-color: black;
        transition-duration: 0.2s;
        color: white;
        border: 2px  solid cadetblue;
        border-radius: 8px;
        width: 50%;
      }
      button:hover {
        background-color: #222222;
        box-shadow: 0 1px 1px 0 lightblue, 0 1px 1px 0 lightblue;
      }
      .connect-social{
        align-items: center;
        margin-top: 20px;
        span{
          display: block;
          font-size: small;
        }
      }
    }
  }
}
.btn-disabled {
  background-color: black;
  color:white  !important;
  opacity: 20%;
  cursor: not-allowed;
}
.snack-success {
  background-color: #4caf50; /* green */
  color: white;
}

.snack-error {
  --mdc-snackbar-container-color: red;
  --mat-snack-bar-button-color:white;

  //background-color: #f44336; /* red */
  //color: white;
}




